@model PriceCalculation.WebClient.Models.HomeIndexViewModel


<hr />
<div>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <p>Products</p>
        <table class="table">
            <tr><th>Name</th><th>Price</th><th>Quantity</th></tr>
            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <tr>
                    <td>
                        @Model.Products[i].ProductName
                        @Html.HiddenFor(m => m.Products[i].ProductName)
                    </td>
                    <td>
                        @Model.Products[i].ProductPrice
                        @Html.HiddenFor(m => m.Products[i].ProductPrice)
                    </td>
                    <td style="padding-right:10px;">
                        @Html.TextBoxFor(m => m.Products[i].Quantity, new { style = "width:30px;" })
                    </td>

                </tr>
            }
        </table>
        <br />
        <input type="submit" value="Add to basket" />
    }

    <hr />
    @if (Model.BasketTotal > 0)
    {
        <div>
            <h4>Basket Total: @Model.BasketTotal</h4>
        </div>
    }
</div>